  @charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
  scroll-behavior: smooth;
  font-size: 100%;
}

/* Align radios and text inputs with their label */

input[type="radio"] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type="button"],
input[type="submit"],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -0.7em;
}
sub {
  bottom: -0.25em;
}

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}
.cf {
  zoom: 1;
}
.cf:after { clear: both; }
.cf { zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 86%;
  margin: 0 auto;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-orange: #ff8e44;
  --secondary-orange: #ff9046;
  --pure-white: #fff;
  --primary-gray: #898989;
  --secondary-gray: #e0e0e0;
  --pure-black: #000;
}
/*=================================
  Header styling starts here
=================================*/
.header {
  padding: 22px 0;
  background-color: var(--pure-white);
  box-shadow: 0 8px 8px var(--pure-black);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* .logo { width: 12%; } */
.logo img { width: 100px; }
.transition-ease { transition: all 0.3s ease-in-out; }

.navbar {
  width: 65%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar > ul {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.navbar li a {
  position: relative;
  color: var(--primary-gray);
  text-align: center;
}

.navbar li a::after {
  content: "";
  width: 100%;
  height: 100%;
  border-bottom: 2px solid transparent;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.kitchen::before { content: "\e51a"; }
.specialities::before { content: "\f2e7"; }
.blog::before { content: "\f303"; }
.contact::before { content: "\f2b9"; }

.navbar li a::before {
  margin-bottom: 20px;
  display: block;
  font-family: "FontAwesome";
}

.call-btn {
  padding: 14px 1.5rem;
  border: 2px solid var(--primary-orange);
  border-radius: 25px;
  background-color: var(--primary-orange);
  color: var(--pure-white);
  font-size: 0.8rem;
}

.call-btn::before {
  content: "\f095";
  margin-right: 9px;
  font-family: "FontAwesome";
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  margin: 5px 0.5%;
  display: block;
  background-color: var(--primary-gray);
  text-indent: -9999px;
}

.html-scroll { overflow-y: hidden; }
/*=================================
  Header styling ends here
=================================*/

/*=================================
  main styling starts here
=================================*/

/******************************************
  banner styling starts here
*******************************************/
.banner-section { position: relative; }

.food-img > img {
  height: 90vh;
  object-fit: cover;
  opacity: 0.8;
}

.banner-container {
  position: absolute;
  z-index: 1;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading {
  color: var(--pure-white);
  font-size: 3.75rem;
}
/*======================================
 Our Specialities section styling start
=======================================*/

.sub-heading {
  margin-top: 4rem;
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
}

.filter-list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.filter-list li a {
 color: var(--primary-orange);
 font-weight: 600;
 font-size: 1.2rem;
 transition: all .3s ease-in-out;
}

.foods-main-container { text-align: center; }

.food-lists {
  display: flex;
  justify-content: center;
  align-items: center;
}

.images-list {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}

.images-list li {
  margin-top: 4rem;
  margin-left: 2%;
  flex: 0 0 23%; 
  transition: all .3s ease-in-out;
  cursor: pointer;
}

.images-list li figure img { border-radius: 20px; }

.images-list li:nth-child(4n + 1) { margin-left: 0;  }

.images-list li span { 
  font-weight: 600;
  display: block;
  margin-top: .6rem;
}

.images-list li figure,
.images-list li figure img {
  width: 100%;
  height: 100%;
  object-fit:cover;
  aspect-ratio: 3/2;
} 

/*======================================
 Our Specialities section styling end
=======================================*/

.info {
  margin-top: 25px;
  color: var(--pure-white);
  font-size: 1rem;
}
/******************************************
  banner styling ends here
*******************************************/

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/

/*=================================
=======

 /*=================================
  footer styling ends here
=================================*/

/*media query starts*/
/*media query for hover starts here*/
@media only screen and (min-width: 995px) {
  .navbar a:hover { color: var(--primary-orange); }

  .navbar a:hover::after {
    transform: scaleX(1);
    border-color: var(--primary-orange);
  }

  .call-btn:hover { background-color: var(--pure-white); }
}

/*media query for 1280px starts here*/
@media only screen and (max-width: 1280px) {
  .navbar { width: 70%; }
}

/*media query for 995px starts here*/
@media only screen and (min-width: 995px) {
  .images-list li:hover { scale:.9 ;} 

  .filter-list li a:hover { color: var(--primary-gray); }
}  

@media only screen and (max-width: 995px) {
  .navbar { width: 80%; }
  .navbar > ul { gap: 2rem; }
  .images-list li { flex: 0 0 30%; }

  .images-list li:nth-child(4n+1) { margin-left: 2%;  }

}  

@media only screen and (max-width: 640px) {
  .images-list li { flex: 0 0 49%; }

  .images-list li:nth-child(2n+1) { margin-left: 0;  }

} 

@media only screen and (max-width: 560px) {
  .our-specialities .wrapper { width: 95%; }
  .images-list li { flex: 0 0 100%; }

  .images-list li:nth-child(1n+1) { margin-left: 0;  }

/*media query for 768px starts here*/
@media only screen and (max-width: 768px) {
  .hamburger { 
    display: block; 
    z-index: 2;
  }

  .hamburger.active .bar:nth-child(2) { opacity: 0; }
  .hamburger.active .bar:nth-child(3) { transform: translateY(-8px) rotate(-45deg); }

  .header { padding: 20px 1.5rem; }
  .header .active-nav { transform: translateY(0); }

  .navbar {
    width: 100%;
    height: 100%;
    padding: 20px 2%;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    background-color: var(--pure-white);
    transform: translateY(-100%);
    transition: transform 0.3s ease;
  }

  .navbar > ul {
    align-items: center;
    flex-direction: column;
  }
}

/*media query for 480px starts here*/
@media only screen and (max-width: 480px) {
  html { font-size: 80%; }
  .banner-container { top: 50%;}
}
}

@media only screen and (max-width: 480px) {
  .filter-list li {
    flex-basis: 50%;
    margin-bottom: 30px;
  }
} 
