@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;600;700;800&family=Poppins:wght@500;600;700;800;900&display=swap');
/* ==========================================================================
 1. CSS Reset Code
 ========================================================================== */

/* 1.1. Eric Meyers Reset
 http://meyerweb.com/eric/tools/css/reset/
 v2.0 | 20110126
 License: none (public domain)
 ========================================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
  scroll-behavior: smooth;
  font-size: 100%;
}

/* Align radios and text inputs with their label */

input[type="radio"] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type="button"],
input[type="submit"],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -0.7em;
}

sub {
  bottom: -0.25em;
}

/* 1.2. Clear Fix
 ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}

.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}

.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}

/* for all */
body {
  font-family: 'Poppins', sans-serif;
  font-family: 'Open Sans', sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}

/* for wrapper */
.wrapper {
  max-width: 1360px;
  width: 86%;
  margin: 0 auto;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
  outline: none !important;
}

:root {
  --primary-orange: #ff8e44;
  --secondary-orange: #ff9046;
  --pure-white: #fff;
  --primary-gray: #898989;
  --secondary-gray: #e0e0e0;
  --pure-black: #000;
  --pure-blue: #5D8ED5;
  --pure-green: #25D366;
}

/*=================================
Header styling starts here
=================================*/

.header {
  padding: 22px 0;
  background-color: var(--pure-white);
  box-shadow: 0 8px 8px var(--pure-black);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  width: 100px;
}

.transition-ease {
  transition: all 0.3s ease-in-out;
}

.navbar {
  width: 65%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar>ul {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.navbar li a {
  position: relative;
  color: var(--primary-gray);
  text-align: center;
}

.navbar li a::after {
  content: "";
  width: 100%;
  height: 100%;
  border-bottom: 2px solid transparent;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.kitchen::before {
  content: "\e51a";
}

.specialities::before {
  content: "\f2e7";
}

.blog::before {
  content: "\f303";
}

.contact::before {
  content: "\f2b9";
}

.navbar li a::before {
  margin-bottom: 20px;
  display: block;
  font-family: "FontAwesome";
}

.call-btn {
  padding: 14px 1.5rem;
  border: 2px solid var(--primary-orange);
  border-radius: 25px;
  background-color: var(--primary-orange);
  color: var(--pure-white);
  font-size: 0.8rem;
  display: block;
}

.call-btn::before {
  content: "\f095";
  margin-right: 9px;
  font-family: "FontAwesome";
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  margin: 5px 0.5%;
  display: block;
  background-color: var(--primary-gray);
  text-indent: -9999px;
}

.html-scroll {
  overflow-y: hidden;
}

/*=================================
Header styling ends here
=================================*/

/*=================================
main styling starts here
=================================*/

/**************
banner styling starts here
***************/

.banner-section {
  position: relative;
}

.food-img>img {
  height: 90vh;
  object-fit: cover;
  opacity: 0.8;
}

.banner-container {
  position: absolute;
  z-index: 1;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading {
  color: var(--pure-white);
  font-size: 3.75rem;
}

/*======================================
Our Specialities section styling start
=======================================*/

.our-specialities {
  margin-top: 6rem;
}

.sub-heading {
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
}

.filter-list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.filter-list a {
  color: var(--primary-orange);
  font-weight: 600;
  font-size: 1.2rem;
  transition: all .3s ease-in-out;
}

.active-data a {
  color: var(--primary-gray);
}

.foods-main-container {
  text-align: center;
}

.food-lists {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.images-list {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  row-gap: 4rem;
  column-gap: 2%;
}

.images-list li {
  flex: 0 0 calc(23% - 1.5%);
  /* Adjust the width and margin calculation */
  transition: all .3s ease-in-out;
  cursor: pointer;
}

.images-list li figure img {
  border-radius: 20px;
}

.images-list li span {
  margin-top: .6rem;
  display: block;
  font-weight: 600;
  text-transform: capitalize;
}

.images-list li figure,
.images-list li figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 3/2;
}

.browse-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  white-space: nowrap;
}

.browse {
  position: fixed;
  bottom: 25px;
  z-index: 6;
  padding: 12px 1.5rem;
  border: 2px solid var(--pure-blue);
  border-radius: 25px;
  margin-top: 100px;
  width: 150px;
  background-color: var(--pure-blue);
  color: var(--pure-white);
  font-size: 0.8rem;
  transition: all .3s ease-in-out;
}

.browse::before {
  content: '\f2e7';
  font-family: 'FontAwesome';
  padding-right: 7%;
}

.hide-browse { 
  opacity: 0;
  transition: all .1s ease-in-out;
  z-index: 0;
}

.whatsapp-container a {
  width: 60px;
  border-radius: 50%;
  height: 60px;
  bottom: 20px;
  right: 20px;
  font-size: 0;
  position: fixed;
  background-color: var(--pure-green);
  color: var(--pure-white);
  text-align: center;
  box-shadow: 2px 2px 3px #999;
  z-index: 1;
}

.whatsapp-container a::after {
  content: '\f232';
  font-family: 'FontAwesome';
  position: absolute;
  left: 15px;
  font-size: 35px;
  top: 12px
}

/* The Modal (background) */
.menu-modal {
  width: 100%;
  height: 100%;
  padding-top: 10%;
  display: none;
  position: fixed;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.modal-content {
  width: 50%;
  height: 85%;
  padding: 20px 4%;
  border-radius: 10px;
  margin: auto;
  background-color: var(--pure-white);
  overflow: auto;
}

.modal-content>li {
  margin-bottom: 26px;
  display: flex;
  justify-content: space-between;
}

.modal-content>li:last-child {
  margin-bottom: 0;
}

.modal-content span {
  font-size: 1rem;
}

.price::before {
  content: "\e1bc";
  margin-right: 0.25rem;
  font-family: FontAwesome;
  font-size: 0.8rem;
}

/*======================================
Our Specialities section styling end
=======================================*/

.heading {
  color: var(--pure-white);
  font-size: 3.75rem;
}

.info {
  margin-top: 25px;
  color: var(--pure-white);
  font-size: 1rem;
}

/**************
banner styling ends here
***************/

.blog-section {
  margin: 5rem 0;
}

.blog-section .wrapper {
  padding: 5rem 0;
  position: relative;
}

.blog-section .sub-heading {
  margin-bottom: 40px;
  position: relative;
  color: var(--pure-black);
  font-size: 2.25rem;
  font-weight: 700;
  text-align: center;
}

.blog-section figcaption {
  margin-top: 10px;
  font-size: 1.625rem;
  text-align: center;
  color: #ff8e44;
}

.sliders li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sliders li .item figure img {
  border-radius: 20px;
  box-shadow: 0px -25px 20px -20px rgba(0, 0, 0, 0.45), 0px 25px 20px -20px rgba(0, 0, 0, 0.45);
}

.owl-nav {
  display: flex;
  font-size: 50px;
  justify-content: space-between;
  color: var(--primary-orange);
  margin-top: 10px;
}

.owl-theme .owl-nav [class*=owl-] {
  transition: all .3s ease-in-out;
}

.blog-section .info {
  color: var(--primary-gray);
  text-align: center;
}

/**************
blog styling ends here
***************/

/*=================================
main styling ends here
=================================*/

/*=================================
footer styling starts here
=================================*/

footer .wrapper {
  max-width: 1096px;
  width: 71.35%;
  padding-bottom: 150px;
}

.upper-footer {
  margin-bottom: 48px;
  text-align: center;
}

footer h6 {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 2.25rem;
  text-transform: uppercase;
}

.contact-btn {
  margin-bottom: 24px;
}

.contact-btn a,
.address-btn a {
  padding: 18px 54px;
  border: 2px solid var(--primary-orange);
  background-color: var(--secondary-orange);
  border-radius: 25px;
  color: #fff;
  text-transform: uppercase;
  white-space: nowrap;
  transition: all .3s ease-in-out;
}

.address-btn a {
  margin-bottom: 24px;
}

.social {
  margin-left: 4rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.social li {
  flex-basis: 28%;
}

footer h5 {
  margin: 0 0 24px;
  font-weight: bold;
  line-height: 1em;
}

/*=================================
footer styling ends here
=================================*/

/* /media query starts/ */
/* /media query for 1280px starts here/ */
@media only screen and (max-width: 1920px) {
  .header .wrapper {
    width: 95%;
  }

  .map {
    display: flex;
    justify-content: center;
  }

  iframe {
    width: 1000px;
    height: 600px;
  }

}

@media only screen and (max-width: 1366px) {
  .navbar {
    width: 65%;
  }


}

@media only screen and (max-width: 1280px) {
  .navbar {
    width: 67%;
  }

  .social {
    max-width: 80%;
    margin: auto;
  }
}

/* /media query for hover starts here/ */
@media only screen and (min-width: 995px) {
  .navbar a:hover {
    color: var(--primary-orange);
  }

  .navbar a:hover::after {
    transform: scaleX(1);
    border-color: var(--primary-orange);
  }

  .call-btn:hover,
  .address-btn a:hover,
  .contact-btn a:hover {
    background-color: var(--pure-white);
    color: var(--primary-orange);
  }

  .browse:hover {
    color: var(--pure-blue);
    background-color: var(--pure-white);
  }

  .images-list li:hover {
    scale: .9;
  }

  .filter-list li a:hover {
    color: var(--primary-gray);
  }

  footer ul li a:hover {
    color: var(--primary-gray);
    font-weight: 600;
  }

  .owl-theme .owl-nav [class*=owl-]:hover {
    color: var(--primary-gray);
  }



}

/* /media query for 995px starts here/ */
@media only screen and (max-width: 995px) {
  .navbar {
    width: 70%;
  }

  .navbar>ul {
    gap: 1.8rem;
  }

  .images-list li {
    flex: 0 0 30%;
  }

  .images-list li span {
    font-size: 1.1rem;
  }

  .social {
    flex-direction: column;
    text-align: center;
  }

  .social li {
    margin-bottom: 30px;
  }

  iframe {
    height: 500px;
  }

}

/* /media query for 768px starts here/ */
@media only screen and (max-width: 768px) {
  .hamburger {
    display: block;
    z-index: 2;
  }

  .our-specialities,
  .blog-section,
  .footer {
    padding-top: 45px;
    scroll-margin: 110px;
  }

  .banner-container {
    top: 50%;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .header {
    padding: 20px 1.5rem;
  }

  .header .active-nav {
    transform: translateY(0);
  }

  .navbar {
    width: 100%;
    height: 100vh;
    padding: 20px 2%;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    background-color: var(--pure-white);
    transform: translateY(-100%);
    transition: transform 0.3s ease;
  }

  .navbar>ul {
    align-items: center;
    flex-direction: column;
  }

  .fixed-header {
    width: 100%;
    position: fixed;
    z-index: 2;
  }

  .menu-modal {
    padding-top: 50%;
  }

  iframe {
    width: 500px;
    height: 300px;
  }


}

/* /media query for 640px starts here/ */
@media only screen and (max-width: 640px) {
  html {
    font-size: 80%;
  }

  .images-list li {
    flex: 0 0 48%;
  }

  .blog-section .info {
    width: 100%;
  }

  .browse {
    width: 130px;
  }

  footer .wrapper {
    padding-bottom: 80px;
  }
}

/* /media query for 560px starts here/ */
@media only screen and (max-width: 560px) {
  .our-specialities .wrapper {
    width: 96%;
  }

  .images-list li {
    flex: 0 0 47%;
  }

  .logo img {
    width: 70px;
  }

  .navbar li a::before {
    font-size: 1.5rem;
  }

  .our-specialities .wrapper {
    width: 95%;
  }

  .modal-content {
    width: 80%;
  }

  .whatsapp-container a {
    right: 10px;
  }


}

/* /media query for 480px starts here/ */
@media only screen and (max-width: 480px) {
  .filter-list li {
    flex-basis: 50%;
    margin-bottom: 30px;
  }

  .images-list li {
    flex: 0 0 48%;
  }

  .prev-next {
    display: none;
  }

  footer .wrapper {
    flex-direction: column;
    align-items: center;
  }

  iframe {
    width: 500px;
    height: 200px;
  }
}

@media only screen and (max-width: 375px) {
  .images-list li {
    flex: 0 0 100%;
  }

  .modal-content {
    width: 75%;
    height: 80%;
  }



  .social li {
    padding: 0 20px 0;
  }
}

@media only screen and (max-width: 320px) {
  .heading {
    font-size: 2.75rem;
  }
}