@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */

input[type="radio"] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type="button"],
input[type="submit"],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -0.7em;
}
sub {
  bottom: -0.25em;
}

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}
.cf {
  zoom: 1;
}

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 86%;
  margin: 0 auto;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-orange: #ff8e44;
  --secondary-orange: #ff9046;
  --pure-white: #fff;
  --primary-gray: #898989;
  --secondary-gray: #e0e0e0;
  --pure-black: #000;
}
/*=================================
  Header styling starts here
=================================*/
.header {
  padding: 22px 0;
  background-color: var(--pure-white);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img { width: 100px; }
.transition-ease { transition: all 0.3s ease-in-out; }

.navbar > ul {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.navbar a {
  position: relative;
  color: var(--primary-gray);
  text-align: center;
}

.navbar a::after {
  content: "";
  width: 100%;
  height: 100%;
  border-bottom: 2px solid transparent;
  position: absolute;
  bottom: -28px;
  left: 0;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.kitchen::before { content: "\e51a"; }
.specialities::before { content: "\f2e7"; }
.blog::before { content: "\f303"; }
.contact::before { content: "\f2b9"; }

.navbar a::before {
  margin-bottom: 20px;
  display: block;
  font-family: "FontAwesome";
}

.call-btn {
  padding: 14px 1.5rem;
  border: 2px solid var(--primary-orange);
  border-radius: 25px;
  background-color: var(--primary-orange);
  color: var(--pure-white);
  font-size: 0.8rem;
}

.call-btn::before {
  content: "\f095";
  margin-right: 9px;
  font-family: "FontAwesome";
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  margin: 5px 0.5%;
  display: block;
  background-color: var(--secondary-font);
  text-indent: -9999px;
}

.html-scroll { overflow-y: hidden; }
/*=================================
  Header styling ends here
=================================*/

/*=================================
  main styling starts here
=================================*/

/******************************************
  banner styling starts here
*******************************************/
.banner-section { position: relative; }

.food-img > img {
  height: 90vh;
  object-fit: cover;
  opacity: 0.8;
}

.banner-container {
  position: absolute;
  z-index: 1;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading {
  color: var(--pure-white);
  font-size: 3.75rem;
}

.info {
  margin-top: 25px;
  color: var(--pure-white);
  font-size: 1rem;
}
/******************************************
  banner styling ends here
*******************************************/

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/

/*=================================
  footer styling ends here
=================================*/

/*media query starts*/
/*media query for hover starts here*/
@media (width >= 995px) {
  .navbar a:hover { color: var(--primary-orange); }

  .navbar a:hover::after {
    transform: scaleX(1);
    border-color: var(--primary-orange);
  }

  .call-btn:hover {
    background-color: var(--pure-white);
    color: var(--primary-orange);
  }
}

/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {
}
